PUG/graph.pug
doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Logger ESP32 : Graphiques
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
	body
		.container-fluid
			.row
				.col-md-12
					nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark.static-top
						button.navbar-toggler(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
							span.navbar-toggler-icon
						a.navbar-brand(href="#") Logger
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.navbar-nav
								li.nav-item
									a.nav-link(href="/") Heure 
								li.nav-item
									a.nav-link(href="/data") Capteurs
								li.nav-item.active
									a.nav-link(href="#") Graphiques
					.jumbotron(style="text-align:center;")
						h2
							| Graphiques
						br
						p
							#chartbutton
						#chartDiv
							div
								canvas#chart
							button.btn.btn-dark(type="button" onclick="resetZoom()") Reset Zoom
		script(src="js/bootstrap.min.js")
		script(src="js/jquery.min.js")
		script(src="js/papaparse.min.js")
		script(src="js/Chart.bundle.min.js")
		script(src="js/hammer.min.js")
		script(src="js/chartjs-plugin-zoom.min.js")
		script(src="js/chart.js")

HTML/graph.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Logger ESP32 : Graphiques</title><link href="css/bootstrap.min.css" rel="stylesheet"><link href="css/style.css" rel="stylesheet"></head><body><div class="container-fluid"><div class="row"><div class="col-md-12"><nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark static-top"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#">Logger</a><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="navbar-nav"><li class="nav-item"><a class="nav-link" href="/">Heure </a></li><li class="nav-item"><a class="nav-link" href="/data">Capteurs</a></li><li class="nav-item active"><a class="nav-link" href="#">Graphiques</a></li></ul></div></nav><div class="jumbotron" style="text-align:center;"><h2>Graphiques</h2><br><p><div id="chartbutton"></div></p><div id="chartDiv"><div><canvas id="chart"></canvas></div><button class="btn btn-dark" type="button" onclick="resetZoom()">Reset Zoom</button></div></div></div></div></div><script src="js/bootstrap.min.js"></script><script src="js/jquery.min.js"></script><script src="js/papaparse.min.js"></script><script src="js/Chart.bundle.min.js"></script><script src="js/hammer.min.js"></script><script src="js/chartjs-plugin-zoom.min.js"></script><script src="js/chart.js"></script></body></html>
